<h2>Catalogo Prodotti</h2>
<a routerLink="/carrello">🛒 Vai al Carrello</a>

@if (loading) {
  <p> Caricamento prodotti in corso...</p>
} @else {
  <ul>
    @for (p of prodotti; track p.id) {
      <li>
        <strong>{{ p.nome }}</strong> - {{ p.prezzo_ivato }} €
        | 
        <!-- Bottone Vedi Dettaglio con routerLink -->
        <a [routerLink]="['/prodotto', p.id]">Vedi Dettaglio</a>
        | 
        <!-- Bottone Aggiungi al Carrello -->
        <button (click)="aggiungiAlCarrello(p)">Aggiungi al Carrello</button>
      </li>
    }
  </ul>
}